In [6]:
import pandas as pd

In [12]:
def df_save (df):
    """
                        ---What it does---
    Saves your df of choice to a .csv file in the same directory of the parent file

                        ---What it needs---
    * Your input for the name (be careful with adding spaces)
    * Your ready-to-save df
    """
    name = input("Type the name of your df> ")
    name = name + ".csv"
    df.to_csv(name, sep = ',')

In [8]:
df = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\names_df\scots_names.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240698 entries, 0 to 240697
Data columns (total 6 columns):
yr               240698 non-null int64
sex              240698 non-null object
FirstForename    240698 non-null object
number           240698 non-null int64
rank             240698 non-null int64
position         240698 non-null object
dtypes: int64(3), object(3)
memory usage: 11.0+ MB

In [9]:
# operations with df
df.columns = ['year', 'gender', 'name', 'number', 'rank', 'position']

# df/gender/operations-with
gender = lambda x: "Female" if x == 'G' else ("Male" if x == 'B' else x)
df['gender'] = df['gender'].apply(gender)

# dfnu
dfnu = pd.DataFrame(df[['name', 'gender']])
dfnu['name'] = dfnu['name'].drop_duplicates(keep = 'first')

In [10]:
df_save(dfnu)

In [11]:
dfnu['name'].value_counts()

Sarthak     1
Aretousa    1
Zozan       1
Nassar      1
Shonya      1
           ..
Tawhid      1
Sherow      1
Kanwulia    1
Shantana    1
Roonie      1
Name: name, Length: 64848, dtype: int64