In [16]:
import pandas as pd

In [17]:
df = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\babies-first-names-all-names-all-years.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240698 entries, 0 to 240697
Data columns (total 6 columns):
yr               240698 non-null int64
sex              240698 non-null object
FirstForename    240698 non-null object
number           240698 non-null int64
rank             240698 non-null int64
position         240698 non-null object
dtypes: int64(3), object(3)
memory usage: 11.0+ MB

In [18]:
# operations with df
df.columns = ['year', 'gender', 'name', 'number', 'rank', 'position']

# df/gender/operations-with
gender = lambda x: "Female" if x == 'G' else ("Male" if x == 'B' else x)
df['gender'] = df['gender'].apply(gender)

# dfnu
dfnu = pd.DataFrame(df[['name', 'gender']])
dfnu['name'] = dfnu['name'].drop_duplicates(keep = 'first')

dfnu.to_csv('dfnu', sep=',')

In [19]:
dfnu['name'].value_counts()

Yoyo               1
Ching-Wuli         1
Jiberrl            1
Talha              1
Taha               1
                  ..
Rielly             1
Hallia             1
Shohreh            1
Dhanvanth          1
Maria-Francesca    1
Name: name, Length: 64848, dtype: int64