In [1]:
import pandas as pd

In [161]:
def name_cleaner (df):
    """
                        ---What it does---
    Takes the 'name' column and the 'gender' column of your df and applies the gender and capper lambdas. This will return you a capitalized column of strings (name) and a Female/Male column.
                        ---What it needs---
    A df with at leas two columns that MUST be named 'name' and 'gender'
    """
    gender = lambda x: "Female" if x == 'G' or x == 2 else ("Male" if x == 'B' or x == 1 else x)
    capper = lambda e: e.capitalize()
    df['gender'] = df['gender'].apply(gender)
    df['name'] = df['name'].astype(str)
    df['name'] = df['name'].apply(capper)
    df['name'] = df['name'].drop_duplicates(keep = 'first')

In [2]:
def df_save (df):
    """
                        ---What it does---
    Saves your df of choice to a .csv file in the same directory of the parent file

                        ---What it needs---
    * Your input for the name (be careful with adding spaces)
    * Your ready-to-save df
    """
    name = input("Type the name of your df> ")
    name = name + ".csv"
    df.to_csv(name, sep = ',')

# English names

Given the predominance of the english speaking film industry production, this df will be used as a the definitive template. The other df will be merged with it.

In [77]:
df = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\names_df\scots_names.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240698 entries, 0 to 240697
Data columns (total 6 columns):
yr               240698 non-null int64
sex              240698 non-null object
FirstForename    240698 non-null object
number           240698 non-null int64
rank             240698 non-null int64
position         240698 non-null object
dtypes: int64(3), object(3)
memory usage: 11.0+ MB

In [93]:
# operations with df
df.columns = ['year', 'gender', 'name', 'number', 'rank', 'position']

# df/gender/operations-with

df['gender'] = df['gender'].apply(gender)

# dfnu
dfnu = pd.DataFrame(df[['name', 'gender']])
dfnu['name'] = dfnu['name'].drop_duplicates(keep = 'first')
dfnu = dfnu.dropna()

In [94]:
dfnu.shape

(64848, 2)

# Spanish names

In [162]:
spanish = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\names_df\spanish_female.csv', encoding= 'latin1',sep=";")
spanish.head(1)

    name  gender
0  MARIA  Female

In [163]:
name_cleaner(spanish)
spanish = spanish.dropna()
spanish.shape

(247, 2)

In [164]:
spanish.head(1)

    name  gender
0  Maria  Female

# French names

In [154]:
french = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\names_df\french_names.csv', encoding= 'latin1',sep=";")
french.head(1)

  name  gender
0    A       1

In [155]:
french.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636474 entries, 0 to 636473
Data columns (total 2 columns):
name      636471 non-null object
gender    636474 non-null int64
dtypes: int64(1), object(1)
memory usage: 9.7+ MB

In [156]:
name_cleaner(french)
french = french.dropna()
french.shape

(33484, 2)

In [157]:
french.head(5)

     name gender
0       A   Male
3   Aadam   Male
9   Aadel   Male
17  Aadil   Male
43  Aahil   Male

# Final assembly sequence

In [158]:
dfnu['name'].value_counts()

Amylee     1
Feechi     1
Tamaro     1
Ronell     1
Lilyann    1
          ..
Nulah      1
Jacques    1
Tagwen     1
Ehson      1
Alwin      1
Name: name, Length: 64848, dtype: int64

In [159]:
# df_save(dfnu)