In [20]:
import pandas as pd
import numpy as np
import json
import ast


import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
df = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\keywords.csv')
df.head(1)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
id          46419 non-null int64
keywords    46419 non-null object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [23]:
df.keywords

0        [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        [{'id': 10090, 'name': 'board game'}, {'id': 1...
2        [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3        [{'id': 818, 'name': 'based on novel'}, {'id':...
4        [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
                               ...
46414               [{'id': 10703, 'name': 'tragic love'}]
46415    [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416                                                   []
46417                                                   []
46418                                                   []
Name: keywords, Length: 46419, dtype: object

In [24]:
keywords = pd.DataFrame(df.keywords)

In [25]:
data = keywords.iloc[0,0]
real_json_str = str(data)[1:-1]
real_json_str

"{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}"

In [26]:
keywords['keywords'] = keywords['keywords'].apply(ast.literal_eval)
keywords['id'] = keywords['keywords'].apply(lambda x: [i['id'] for i in x] if isinstance(x, list) else [])
keywords['keywords'] = keywords['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [29]:
keywords.head(2)

,keywords,id
0,"[jealousy, toy, boy, friendship, friends, riva...","[931, 4290, 5202, 6054, 9713, 9823, 165503, 17..."
1,"[board game, disappearance, based on children'...","[10090, 10941, 15101, 33467, 158086, 158091]"

In [28]:
keywords[keywords.astype(str)['keywords'] != '[]']

,keywords,id
0,"[jealousy, toy, boy, friendship, friends, riva...","[931, 4290, 5202, 6054, 9713, 9823, 165503, 17..."
1,"[board game, disappearance, based on children'...","[10090, 10941, 15101, 33467, 158086, 158091]"
2,"[fishing, best friend, duringcreditsstinger, o...","[1495, 12392, 179431, 208510]"
3,"[based on novel, interracial relationship, sin...","[818, 10131, 14768, 15160, 33455]"
4,"[baby, midlife crisis, confidence, aging, daug...","[1009, 1599, 2246, 4995, 5600, 10707, 13149, 3..."
...,...,...
46409,"[revenge, murder, serial killer, new york city...","[9748, 9826, 10714, 14512, 173245, 179083, 189..."
46410,[blair witch],[224180]
46411,"[witch, mythology, legend, serial killer, mock...","[616, 2035, 3754, 10714, 11800]"
46414,[tragic love],[10703]
46415,"[artist, play, pinoy]","[2679, 14531, 215397]"