In [1]:
import pandas as pd
import numpy as np

In [23]:
def df_save (df):
    """
                        ---What it does---
    Saves your df of choice to a .csv file in the same directory of the parent file

                        ---What it needs---
    * Your input for the name (be careful with adding spaces)
    * Your ready-to-save df
    """
    name = input("Type the name of your df> ")
    name = name + ".csv"
    df.to_csv(name, sep = ',')

In [24]:
def null_count (df):
    """
                        ---What it does---
    Identifies and counts the number of null values in any given df. Does not return anything.

                        ---What it needs---
    A DataFrame
    """
    null_in_df = df.isnull().any()
    is_null = df.isnull().sum()
    print (f'Presence of null in clolumns:\n{null_in_df}\n\nNumber of null in columns:\n{is_null}')

In [2]:
df =  pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\links_small.csv')
df.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

In [27]:
null_count(df)

Presence of null in clolumns:
movieId    False
imdbId     False
tmdbId      True
dtype: bool

Number of null in columns:
movieId     0
imdbId      0
tmdbId     13
dtype: int64

In [28]:
links_small = df

In [29]:
links_small = links_small.fillna(0)

In [30]:
links_small ['tmdbId'] = links_small['tmdbId'].astype(int)
links_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9125 non-null int32
dtypes: int32(1), int64(2)
memory usage: 178.3 KB

In [31]:
links_small= links_small.set_index('movieId')
links_small.head()

         imdbId  tmdbId
movieId
1        114709     862
2        113497    8844
3        113228   15602
4        114885   31357
5        113041   11862

In [32]:
pd.Series(['imdbId', 'tmdbId']).is_unique

True

All values are unique, links_small is ready to serve as nexus between dfs. (15/02/2020)

In [33]:
df2 = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\links.csv')
df2.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
movieId    45843 non-null int64
imdbId     45843 non-null int64
tmdbId     45624 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

In [35]:
null_count(df2)

Presence of null in clolumns:
movieId    False
imdbId     False
tmdbId      True
dtype: bool

Number of null in columns:
movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [36]:
links = df2

In [37]:
links = links.fillna(0)
links.isnull().sum()

movieId    0
imdbId     0
tmdbId     0
dtype: int64

In [38]:
links['tmdbId'] = links['tmdbId'].astype(int)
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
movieId    45843 non-null int64
imdbId     45843 non-null int64
tmdbId     45843 non-null int32
dtypes: int32(1), int64(2)
memory usage: 895.5 KB

In [39]:
links= links.set_index('movieId')
links.head()

         imdbId  tmdbId
movieId
1        114709     862
2        113497    8844
3        113228   15602
4        114885   31357
5        113041   11862

In [40]:
pd.Series(['imdbId', 'tmdbId']).is_unique

True

Links is ready to act as nexus between dfs.

In [41]:
df_save(links)
df_save(links_small)