In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

In [2]:
df =  pd.read_csv(r'..\Movie_Project\csvs\links_small.csv')
df.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

In [4]:
df.isnull().sum()

movieId     0
imdbId      0
tmdbId     13
dtype: int64

In [5]:
df1 = df

In [6]:
links_small = df1.fillna(0)

In [7]:
links_small = links_small.astype(int)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

In [8]:
links_small= links_small.set_index('movieId')
links_small.head()

         imdbId  tmdbId
movieId
1        114709     862
2        113497    8844
3        113228   15602
4        114885   31357
5        113041   11862

In [9]:
pd.Series(['imdbId', 'tmdbId']).is_unique

True

All values are unique, links_small is ready to serve as nexus between dfs. (15/02/2020)

In [10]:
df2 = pd.read_csv(r'F:\Programacion\3.GITHUB\2.DAANMO\DAANMO\Movie_Project\csvs\links.csv')
df2.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
movieId    45843 non-null int64
imdbId     45843 non-null int64
tmdbId     45624 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

In [12]:
df2.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [13]:
links = df2

In [14]:
links = links.fillna(0)
links.isnull().sum()

movieId    0
imdbId     0
tmdbId     0
dtype: int64

In [15]:
links= links.set_index('movieId')
links.head()

         imdbId   tmdbId
movieId
1        114709    862.0
2        113497   8844.0
3        113228  15602.0
4        114885  31357.0
5        113041  11862.0

In [16]:
pd.Series(['imdbId', 'tmdbId']).is_unique

True

Links is ready to act as nexus between dfs.