# Links notebook
The links notebook contains the id identifiers for the movies. Usefull in a "id missing" situation.

In [1]:
import pandas as pd
import numpy as np

In [4]:
import EDA

EDA lib ready

In [2]:
df =  pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\links_small.csv')
df.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [5]:
EDA.general_info(df)

-dtype, length and name of columns-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB
None

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

(9125, 3)

-Presence of NaNs in df-
movieId    False
imdbId     False
tmdbId      True
dtype: bool

-Number of NaNs in df-
movieId     0
imdbId      0
tmdbId     13
dtype: int64

In [6]:
links_small = df.copy()

In [7]:
links_small = links_small.fillna(0)

In [12]:
links_small.loc[links_small['tmdbId'] == 0]

      movieId   imdbId  tmdbId
607       720   118114     0.0
608       721   114103     0.0
640       769   116992     0.0
910      1133   111357     0.0
2282     2851    81454     0.0
3246     4051    56600     0.0
5826    26587    92337     0.0
7408    72781  1104746     0.0
7438    73759   495212     0.0
7588    79299   874957     0.0
8045    94466  2085059     0.0
8505   108548   898266     0.0
8507   108583    72500     0.0

In [13]:
before = links_small ['tmdbId'].dtype
links_small ['tmdbId'] = links_small['tmdbId'].astype(int)
after = links_small ['tmdbId'].dtype

print(f'Before: {before}\nAfter: {after}')

Before: float64
After: int32

In [14]:
links_small= links_small.set_index('movieId')
links_small.head()

         imdbId  tmdbId
movieId
1        114709     862
2        113497    8844
3        113228   15602
4        114885   31357
5        113041   11862

Links_small is cleaned and ready for action.

In [16]:
df2 = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\the-movies-dataset\links.csv')
df2.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [17]:
EDA.general_info(df2)

-dtype, length and name of columns-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
movieId    45843 non-null int64
imdbId     45843 non-null int64
tmdbId     45624 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB
None

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

(45843, 3)

-Presence of NaNs in df-
movieId    False
imdbId     False
tmdbId      True
dtype: bool

-Number of NaNs in df-
movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [18]:
links = df2.copy()

In [19]:
links = links.fillna(0)

In [20]:
links.loc[links['tmdbId'] == 0].head()

     movieId  imdbId  tmdbId
140      142   94878     0.0
598      604  115978     0.0
708      720  118114     0.0
709      721  114103     0.0
718      730  125877     0.0

In [21]:
before = links ['tmdbId'].dtype
links ['tmdbId'] = links['tmdbId'].astype(int)
after = links ['tmdbId'].dtype

print(f'Before: {before}\nAfter: {after}')

Before: float64
After: int32

In [22]:
links= links.set_index('movieId')
links.head()

         imdbId  tmdbId
movieId
1        114709     862
2        113497    8844
3        113228   15602
4        114885   31357
5        113041   11862

In [40]:
pd.Series(['imdbId', 'tmdbId']).is_unique

True

Links is cleaned and ready for action.

In [41]:
df_save(links)
df_save(links_small)